html {
    font-family: "游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
    font-size: 16px;
}

header #topimg {
    width: 100%;
    height: 400px;
    background-image: url("../img/top.jpg");
    background-size: cover;
    background-position: center center;
}

main h2 {
    width: 100%;
    background-color: #625330;
    font-size: 1.8rem;
    color: #ffffff;
}

    main h2 div {
        width: 1000px;
        margin: auto;
        padding: 20px 0;
    }

section {
    width: 1000px;
    margin: auto;
}

    section h3 {
        width: 100%;
        font-size: 1.8rem;
        color: #625330;
        text-align: center;
        border-bottom: solid 3px #625330;
        padding-bottom: 20px;
        margin-top: 70px;
    }

    section p {
        line-height: 1.8rem;
        margin: 40px 50px 0;
    }

    section h4 {
        font-size: 1.5rem;
        color: #625330;
        margin-top: 40px;
    }

    section ul{
        line-height:1.8rem;
        margin : 40px 50px 0;
    }

    section figure img{
        width:100%;
        margin-top:40px;
    }

footer {
    width: 100%;
    background-color: #625330;
    padding: 60px 0;
    margin-top: 80px;
}

    footer h2 {
        font-size: 1.3rem;
        width: 1000px;
        margin: auto;
        color: #ffffff;
    }

    footer p {
        width: 1000px;
        margin: 20px auto 0;
        color: #ffffff;
        line-height: 1.8rem;
    }
